@import "./colors.scss";
.main {
  display: flex;
  // flex-direction: column;
  justify-content: space-between;
  align-items: center;
  // padding: 6rem;
  background-image: url("../assets/images/home_cover.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  height: 100vh;
}
.primaryLogo {
  max-height: 100vh;
}
.mainMenuNavigation {
  ul {
    li {
      list-style-type: none;
      a {
        font-size: 60px;
        color: $primary-text-color;
        text-transform: uppercase;
      }
    }
  }
}
